.logoFooter {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #3d9970;
}

.social-media {
    margin-top: 4rem;
    color: black;
  }
  
 .copyright {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }